# Predicting Disease Outbreaks Milestone 1
## This module loads and inspects data from the John Hopkins COVID-19 data.
### Specifically, the following data is loaded:
- Global aggregates of confirmed, recovered, and death cases
- Global time series of confirmed cases
- Global time series of death cases
- Global time series of recovered cases
- US time series of confirmed cases
- US time series of death cases

In [1]:
# import helper functions
import utils

# load data
global_aggregates = utils.load_global_aggregates()
global_confirmed = utils.load_global_confirmed()
global_death = utils.load_global_death()
global_recovered = utils.load_global_recovered()
us_confirmed = utils.load_us_confirmed()
us_death = utils.load_us_death()

## Global Aggregates
### The following shows the first 5 entries of the global aggregates dataframe, info about the global aggregates dataframe, and summary statistics of the global aggregates dataframe

In [2]:
print("Head of global aggregates:")
global_aggregates.head()

Head of global aggregates:

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3
0,Afghanistan,2021-04-04 02:20:56,33.93911,67.709953,56595.0,2496.0,51802.0,2297.0,145.382512,NaN,NaN,4.410284,4,AFG
1,Albania,2021-04-04 02:20:56,41.15330,20.168300,126183.0,2256.0,93173.0,30754.0,4384.703593,NaN,NaN,1.787880,8,ALB
2,Algeria,2021-04-04 02:20:56,28.03390,1.659600,117524.0,3102.0,81813.0,32609.0,268.007308,NaN,NaN,2.639461,12,DZA
3,Andorra,2021-04-04 02:20:56,42.50630,1.521800,12174.0,117.0,11428.0,629.0,15756.163852,NaN,NaN,0.961065,20,AND
4,Angola,2021-04-04 02:20:56,-11.20270,17.873900,22579.0,540.0,20871.0,1168.0,68.699616,NaN,NaN,2.391603,24,AGO

In [3]:
print("Info about global aggregates dataframe:")
global_aggregates.info()

Info about global aggregates dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country_Region       192 non-null    object
 1   Last_Update          192 non-null    object
 2   Lat                  190 non-null    float64
 3   Long_                190 non-null    float64
 4   Confirmed            192 non-null    float64
 5   Deaths               192 non-null    float64
 6   Recovered            188 non-null    float64
 7   Active               191 non-null    float64
 8   Incident_Rate        190 non-null    float64
 9   People_Tested        0 non-null      float64
 10  People_Hospitalized  0 non-null      float64
 11  Mortality_Rate       192 non-null    float64
 12  UID                  192 non-null    int64
 13  ISO3                 190 non-null    object
dtypes: float64(10), int64(1), object(3)
memory usage: 21.1+ KB

In [4]:
print("Statistics for global aggregates:")
global_aggregates.drop(['Lat', 'Long_', 'UID'], axis=1).describe()

Statistics for global aggregates:

,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate
count,1.920000e+02,192.000000,1.880000e+02,1.910000e+02,190.000000,0.0,0.0,192.000000
mean,6.805179e+05,14817.770833,3.938810e+05,1.238137e+05,2728.651263,NaN,NaN,2.044304
std,2.643270e+06,52818.246034,1.295602e+06,5.167659e+05,3280.752793,NaN,NaN,2.380024
min,1.000000e+00,0.000000,1.000000e+00,0.000000e+00,0.673488,NaN,NaN,0.000000
25%,8.415750e+03,111.500000,5.305750e+03,3.875000e+02,158.326374,NaN,NaN,0.960684
50%,8.126450e+04,997.500000,4.890100e+04,5.409000e+03,1344.383104,NaN,NaN,1.661690
75%,3.078798e+05,6271.750000,2.222112e+05,3.358550e+04,4807.794761,NaN,NaN,2.515739
max,3.067107e+07,554779.000000,1.156924e+07,4.401462e+06,15756.163852,NaN,NaN,22.222222

## Global Confirmed Cases
### The following shows the first 5 entries of the global confirmed cases dataframe, info about the global confirmed cases dataframe, and summary statistics of the global confirmed cases dataframe

In [5]:
print("Head of global confirmed cases:")
global_confirmed.head()

Head of global confirmed cases:

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,56192,56226,56254,56290,56294,56322,56384,56454,56517,56572
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,122295,122767,123216,123641,124134,124419,124723,125157,125506,125842
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,116438,116543,116657,116750,116836,116946,117061,117192,117304,117429
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,11638,11687,11732,11809,11850,11888,11944,12010,12053,12115
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,21836,21914,21961,22031,22063,22132,22182,22311,22399,22467

In [6]:
print("Info about global confirmed cases dataframe:")
global_confirmed.info()

Info about global confirmed cases dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Columns: 441 entries, Province/State to 4/2/21
dtypes: float64(2), int64(437), object(2)
memory usage: 944.1+ KB

In [7]:
print("Statistics for global confirmed cases:")
global_confirmed.drop(['Lat', 'Long'], axis=1).describe()

Statistics for global confirmed cases:

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
count,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,...,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02
mean,2.032847,2.390511,3.434307,5.229927,7.729927,10.682482,20.357664,22.507299,30.054745,36.229927,...,4.556177e+05,4.579944e+05,4.603345e+05,4.624654e+05,4.641822e+05,4.658572e+05,4.679306e+05,4.704234e+05,4.730206e+05,4.753157e+05
std,26.879101,26.977077,33.585238,46.743494,65.324493,88.014971,215.981285,217.304706,299.457288,355.034830,...,2.162368e+06,2.169969e+06,2.177760e+06,2.184772e+06,2.189957e+06,2.195954e+06,2.202630e+06,2.210443e+06,2.219010e+06,2.226723e+06
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.021000e+03,1.021000e+03,1.021500e+03,1.025250e+03,1.031250e+03,1.043750e+03,1.043750e+03,1.043750e+03,1.044500e+03,1.061250e+03
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.494700e+04,1.494700e+04,1.494700e+04
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.919832e+05,1.936948e+05,1.954990e+05,1.973580e+05,1.983818e+05,1.989432e+05,1.995325e+05,2.000568e+05,2.008212e+05,2.014185e+05
max,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,4903.000000,5806.000000,...,3.001261e+07,3.008006e+07,3.015737e+07,3.021945e+07,3.026314e+07,3.033256e+07,3.039380e+07,3.046083e+07,3.053987e+07,3.060969e+07

## Global Death Cases
### The following shows the first 5 entries of the global death cases dataframe, info about the global death cases dataframe, and summary statistics of the global death cases dataframe

In [8]:
print("Head of global death cases:")
global_death.head()

Head of global death cases:

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2466,2467,2467,2469,2470,2472,2476,2484,2489,2495
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2171,2184,2192,2204,2210,2216,2227,2235,2241,2247
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3069,3071,3074,3077,3080,3084,3089,3093,3096,3099
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,114,114,114,115,115,115,115,115,115,116
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,532,532,532,533,533,534,536,537,538,538

In [9]:
print("Info about global death cases dataframe:")
global_death.info()

Info about global death cases dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Columns: 441 entries, Province/State to 4/2/21
dtypes: float64(2), int64(437), object(2)
memory usage: 944.1+ KB

In [10]:
print("Statistics for global death cases:")
global_death.drop(['Lat', 'Long'], axis=1).describe()

Statistics for global death cases:

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
count,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,...,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000
mean,0.062044,0.065693,0.094891,0.153285,0.204380,0.299270,0.478102,0.485401,0.624088,0.777372,...,10014.437956,10056.361314,10100.843066,10136.572993,10160.164234,10189.182482,10231.375912,10276.127737,10319.416058,10356.602190
std,1.027008,1.028562,1.451957,2.417550,3.142847,4.592341,7.551622,7.552125,9.787164,12.323987,...,43234.074990,43406.150157,43584.724894,43731.233417,43812.597722,43906.987548,44077.357752,44258.129471,44434.051980,44581.538159
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.000000,7.000000,7.250000,7.250000,7.250000,7.250000,7.250000,8.000000,8.000000,8.250000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,182.000000,182.000000,182.500000,182.500000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2992.000000,2992.000000,3000.750000,3003.000000,3003.000000,3003.000000,3011.750000,3011.750000,3012.500000,3012.500000
max,17.000000,17.000000,24.000000,40.000000,52.000000,76.000000,125.000000,125.000000,162.000000,204.000000,...,545492.000000,547051.000000,548172.000000,548913.000000,549420.000000,550121.000000,550996.000000,552072.000000,553136.000000,554103.000000

## Global Recovered Cases
### The following shows the first 5 entries of the global recovered cases dataframe, info about the global recovered cases dataframe, and summary statistics of the global recovered cases dataframe

In [11]:
print("Head of global recovered cases:")
global_recovered.head()

Head of global recovered cases:

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49802,49937,49994,49994,50013,50666,51473,51550,51788,51798
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,87193,87760,88349,88899,89456,90024,90617,91271,91875,92500
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,81065,81065,81160,81242,81316,81349,81442,81538,81632,81729
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,11082,11111,11149,11172,11204,11244,11276,11315,11365,11401
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,20172,20190,20250,20269,20289,20380,20446,20493,20508,20867

In [12]:
print("Info about global recovered cases dataframe:")
global_recovered.info()

Info about global recovered cases dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Columns: 441 entries, Province/State to 4/2/21
dtypes: float64(2), int64(437), object(2)
memory usage: 892.5+ KB

In [13]:
print("Statistics for global recovered cases:")
global_recovered.drop(['Lat', 'Long'], axis=1).describe()

Statistics for global recovered cases:

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
count,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,...,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02
mean,0.115830,0.123552,0.150579,0.162162,0.216216,0.250965,0.416988,0.490347,0.559846,0.868726,...,2.733076e+05,2.745115e+05,2.759192e+05,2.770977e+05,2.783671e+05,2.795426e+05,2.808215e+05,2.822830e+05,2.835970e+05,2.848085e+05
std,1.743788,1.747697,1.940118,2.005022,2.641273,2.839838,5.005023,5.505010,5.665010,8.868885,...,1.071255e+06,1.075752e+06,1.080969e+06,1.085416e+06,1.089808e+06,1.093001e+06,1.098028e+06,1.104350e+06,1.109635e+06,1.113932e+06
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.540000e+02,8.565000e+02,8.565000e+02,8.645000e+02,8.645000e+02,8.645000e+02,8.645000e+02,8.655000e+02,8.655000e+02,8.660000e+02
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.002000e+03,9.330000e+03,9.330000e+03,9.391000e+03,9.454000e+03,9.594000e+03,9.594000e+03,9.668000e+03,9.710000e+03,9.749000e+03
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.418970e+05,1.427710e+05,1.435825e+05,1.439630e+05,1.451285e+05,1.460390e+05,1.468215e+05,1.474965e+05,1.482600e+05,1.488735e+05
max,28.000000,28.000000,31.000000,32.000000,42.000000,45.000000,80.000000,88.000000,90.000000,141.000000,...,1.123165e+07,1.126464e+07,1.129502e+07,1.132376e+07,1.135599e+07,1.139302e+07,1.143430e+07,1.147468e+07,1.152504e+07,1.156924e+07

## US Confirmed Cases
### The following shows the first 5 entries of the US confirmed cases dataframe, info about the US confirmed cases dataframe, and summary statistics of the US confirmed cases dataframe

In [14]:
print("Head of US confirmed cases:")
us_confirmed.head()

Head of US confirmed cases:

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6533,6540,6543,6562,6570,6577,6580,6589,6595,6606
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20395,20417,20423,20453,20473,20487,20492,20505,20523,20519
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2216,2218,2221,2224,2226,2226,2227,2227,2227,2228
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2535,2534,2535,2535,2536,2536,2537,2542,2543,2544
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6402,6408,6415,6420,6424,6426,6443,6444,6446,6455

In [15]:
print("Info about US confirmed cases dataframe:")
us_confirmed.info()

Info about US confirmed cases dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Columns: 448 entries, UID to 4/2/21
dtypes: float64(3), int64(439), object(6)
memory usage: 11.4+ MB

In [23]:
print("Statistics for US confirmed cases:")
us_confirmed.drop(['Lat', 'Long_', 'UID', 'code3', 'FIPS'], axis=1).describe()

Statistics for US confirmed cases:

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
count,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,...,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03
mean,0.000299,0.000299,0.000598,0.000598,0.001496,0.001496,0.001496,0.001795,0.001795,0.002394,...,8.980433e+03,9.000616e+03,9.023750e+03,9.042325e+03,9.055399e+03,9.076171e+03,9.094496e+03,9.114552e+03,9.138201e+03,9.159093e+03
std,0.017298,0.017298,0.024459,0.024459,0.038656,0.038656,0.038656,0.042340,0.042340,0.054657,...,3.364810e+04,3.369497e+04,3.375406e+04,3.380516e+04,3.384944e+04,3.389886e+04,3.394123e+04,3.399116e+04,3.404889e+04,3.410253e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.522500e+02,8.560000e+02,8.572500e+02,8.582500e+02,8.592500e+02,8.605000e+02,8.622500e+02,8.630000e+02,8.650000e+02,8.662500e+02
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.185000e+03,2.187500e+03,2.189500e+03,2.198000e+03,2.201000e+03,2.207000e+03,2.208000e+03,2.210500e+03,2.213000e+03,2.215000e+03
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.661000e+03,5.664000e+03,5.673500e+03,5.673500e+03,5.684250e+03,5.691750e+03,5.693000e+03,5.727250e+03,5.739000e+03,5.742250e+03
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,...,1.215772e+06,1.216319e+06,1.217116e+06,1.217775e+06,1.218229e+06,1.218643e+06,1.219029e+06,1.219614e+06,1.220256e+06,1.220893e+06

## US Death Cases
### The following shows the first 5 entries of the US death cases dataframe, info about the US death cases dataframe, and summary statistics of the US death cases dataframe

In [19]:
print("Head of US death cases:")
us_death.head()

Head of US death cases:

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,99,99,99,99,99,99,99,99,99,99
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,300,300,301,301,301,301,301,301,301,301
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,54,54,54,54,54,54,54,55,55,55
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,58,58,58,58,58,58,58,58,58,58
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,131,131,131,131,131,131,131,131,131,132

In [20]:
print("Info about US death cases dataframe:")
us_death.info()

Info about US death cases dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Columns: 449 entries, UID to 4/2/21
dtypes: float64(3), int64(440), object(6)
memory usage: 11.4+ MB

In [25]:
print("Statistics for US death cases:")
us_death.drop(['Lat', 'Long_', 'UID', 'code3', 'FIPS'], axis=1).describe()

Statistics for US death cases:

,Population,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
count,3.342000e+03,3342.0,3342.0,3342.0,3342.0,3342.0,3342.0,3342.0,3342.0,3342.0,...,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000
mean,9.960357e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,163.223220,163.689707,164.025135,164.246858,164.398564,164.608318,164.870138,165.192101,165.510473,165.799820
std,3.241661e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,650.138376,651.938417,653.198937,654.136463,654.974061,655.583610,656.293257,657.409255,658.745798,660.012395
min,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.917250e+03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000
50%,2.489150e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,41.000000,41.000000,41.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000
75%,6.497525e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,101.000000,101.000000,101.750000,101.750000,101.750000,102.000000,102.000000,102.000000,102.000000,102.000000
max,1.003911e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22965.000000,23022.000000,23056.000000,23080.000000,23103.000000,23101.000000,23111.000000,23144.000000,23191.000000,23236.000000

## Conclusion
### The loaded data can be used to answer questions like:
- How did the disease spread geographically
- What locations have been hit the hardest by the disease, e.g., most deaths per population
- Are cases likely to increase or decrease in the future